<div class="info">
    <div class="info__container">
        <div class="info__container__head">
            <h3>Welcome on the Web Chat application</h3>
        </div>

        <div class="info__container__body">
            <p class="info__container__p info__container__p--bold">Please allow me to welcome you on this application</p>
            <p class="info__container__p">You can do here the following:</p>

            <ul class="unordered-list">
                <li class="unordered-list__li">You can got to: <a href="/docler-server-webchat" target="_blank">Docler Webchat</a>
                    <ul class="unordered-list">
                        <li class="unordered-list__li">Which one is a chat applciation, communicating with a polite chatbot, provided by Docler Holding</li>
                    </ul>
                </li>

                <li class="unordered-list__li">
                    Or Alternatively you can go to <a href="/own-server-webchat" target="_blank">Sandor Webchat</a>
                    <ul class="unordered-list">
                        <li class="unordered-list__li">Which one is communicating with different bot, provided by sandor and your message will be broadcasted to all open clients</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>