<div class="webchat clearfix">
    <div class="webchat__feed">
        <p class="webchat__feed__message">
            <span>chatBot2000: Hy my friend o/ Good luck!</span>
        </p>
        <p class="webchat__feed__message webchat__feed__message--right">Thank you!</p>
        <p class="webchat__feed__message">
            <span>chatBot2000: Hy my friend o/ Good luck!</span>
        </p>
        <p class="webchat__feed__message webchat__feed__message--right">Thank you!</p>
        <p class="webchat__feed__message">
            <span>chatBot2000: Hy my friend o/ Good luck!</span>
        </p>
        <p class="webchat__feed__message webchat__feed__message--right">Thank you!</p>
    </div>

    <div class="webchat__input-row">
        <input class="webchat__input-row__input-field webchat__input-row__input-field--margin-left" placeholder=" Name" type="text" name="userName"></input>

        <input class="webchat__input-row__input-field webchat__input-row__input-field--message" placeholder=" Type here to chat" type="text" name="message"></input>

        <input type="button" class="webchat__input-row__input-field webchat__input-row__input-field--margin-right" name='sendButton' value="Send">
    </div>
</div>