<!DOCTYPE html>
<html lang="en">
<% include partials/_head.ejs %>

<body class="background-sky-blue">
    <div class="centered-widget">
        <% include partials/_info.ejs %>
    </div>
</body>
</html>